.cal_wrap {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 200px;
    font-size: 14px;
    color: #333333;
    *{box-sizing: border-box;}
    .cal_div{
        background-color: white;
        width: 316px;
        height: 348px;
        padding: 16px 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 10% 75%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 4px #F0F2F3;
        & > div:not(.nav_div){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
        }
    }
    .nav_div{
        display: grid;
        grid-template-columns: auto 100px 72px auto;
        gap: 5px;
        align-items: center;
        justify-items: center;
        .btn_div{
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .select{
            position: relative;
            width: 100%;
            border-radius: 5px;
            padding: 5px 10px;
            border: 1px solid #DEDEDE;
            cursor: pointer;
            .select_val{
                display: flex;
                justify-content: space-between;
            }
        }
        .select:hover{
            border: 1px solid #BEBEBE;
            background-color: #F0F2F3;
        }
        #select_filled{
            outline: none;
            box-shadow: 0px 0px 3px 2px #DBE1FD;
            border: 1px solid #3D5AFE;
            background-color: white;
        }
        .option_list{
            cursor: pointer;
            width: 100%;
            height: 200px;
            overflow-y: scroll;
            position: absolute;
            top: 32px;
            left: 0px;
            background-color: white;
            box-shadow: 0px 2px 5px 2px #DEDEDE;
            border-radius: 5px;
            li{width: 100%; padding: 5px 10px;}
            &::-webkit-scrollbar {display: none;}
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        .selected_option{
            background-color: #F1F1F0;
        }
        .option:hover{
            background-color: #F0F2F3;
        }


        select{
            color: #333333;
            width: 100%; height: 34px;
            -o-appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 1px solid #DEDEDE;
        }
        select:hover{
            border: 1px solid #BEBEBE;
            background-color: #F0F2F3;
        }
        select:focus{
            outline: none;
            box-shadow: 0px 0px 0px 3px #DBE1FD;
            border: 1px solid #3D5AFE;
            background-color: white;
        }
        
    }
    .week_div{color: #9C9C9C}
    .days_div{
        div{
            height: 32px; width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }
        .select_day{
            background-color: #024EEE;
            color: white;
        }
        .this_days:hover{
            background-color: #DBE1FD;
        }
        .last_days, .next_days{color: #BEBEBE}
    }
}

.left_btn{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-left: 2px solid #BDBEBD;
    border-bottom: 2px solid #BDBEBD;
}

.right_btn{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg);
    border-left: 2px solid #BDBEBD;
    border-bottom: 2px solid #BDBEBD;
}

.top_btn{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    border-left: 2px solid #BDBEBD;
    border-bottom: 2px solid #BDBEBD;

}

.bottom_btn{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    border-left: 2px solid #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
}